#conteudo .caixa1, .caixa2, .caixa3, .caixa4, .caixa5 {
    color: aliceblue;
    width: 300px;
    height: 300px;
    margin: 10px;
}
.caixa1 {
    background: linear-gradient(to right, green, red);
    margin-bottom: 20px;
    float: left; 
}

.caixa2 {
    background: linear-gradient(to left, green, red, blue);
    margin-bottom: 20px;
    float: left; 
}

.caixa3 {
     background: linear-gradient(50deg, green, red);
    margin-bottom: 20px;
    float: left; 
}

.caixa4 {
    background: radial-gradient(green, blue, yellow);
   margin-bottom: 20px;
   float: left; 
}
.caixa5 {
    background: linear-gradient(to bottom,blue, yellow);
   margin-bottom: 20px;
   float: left; 
}