@charset "UTF-8";


ul {
	
	margin: 0;
	padding: 0;
	list-style: none;
	width: 800px;
	background: #159cb0 url(imagens/fundo-horizontal.png) repeat-x;
	float: left;
}

ul li {
	
	float: left;
}

ul a {
	display: block;
	padding: 0 2em;
	line-height: 2.2em;
	text-decoration: none;
	color: #fff;
	background: url(imagem/arquivos-necessarios-navegacao-horizontal/divisor.png) repeat-y left top;
}

/*CLASSE "primeiro" ABERTA PARA REMOVER BORDA ESQUERDA DO PRIMEIRO LINK*/
ul .primeiro a {
	background: none;
}

ul a:houver {
	color: #085662;
	background: #44cade;
}

#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a,
#assine #navegacao .assine a,
#cursos #navegacao .cursos a,
#mundo #navegacao .mundo a,
#noticias #navegacao .noticias a


{
	background-position: right bottom;
	color: #085662;
	background: #44cade;
}
