@charset "UTF-8";

h1 {
    text-align: center;
}

.caixa {
    background-color: aqua;
    width: 400px;
    height: 400px;
    padding: 30px;
    margin-bottom: 10px;
}

.caixa2 {
    background-color: aqua;
    width: 400px;
    height: 400px;
    padding: 30px;
    -webkit-border-radius: 150px 150px;
    margin-bottom: 30px;
    
}

.caixa3 {
    background-color: aqua;
    width: 400px;
    height: 400px;
    padding: 50px;
    margin-bottom: 10px;
}

.caixa4 {
    background-color: aqua;
    width: 400px;
    height: 400px;
    padding: 50px;
    box-sizing: border-box; 
    margin-bottom: 30px;
    
}